#container{
    height: 400px;
    width: 400px;
    background: yellow;
    margin: 20px 20px;
    position: relative;
    overflow: hidden;
  
}

#box1{
    height: 50px;
    width: 50px;
    background: red;
    position: absolute;
}
#box2{
    height: 50px;
    width: 50px;
    background: green;
    margin-left: 350px;
    position: absolute;
}

#startbtn{
    background: green;
    margin-left: 30px;
    padding:5px ;
    color: white;
}
